*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    font-family: "Righteous", sans-serif;
    text-align: center;
    font-size: 1.5vh;
    padding: 5px;
    color: white;
    background-color: #060736;
}
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1E23F5;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    font-size: 10px;
    font-family: sans-serif;
    padding: 2px;
}

img{
    width: 60%;
}
  
.card {
    width: 80px;
    height: 80px;
    position: relative;
    transition: transform 0.5s ease-out;
    transform-style: preserve-3d; /*estilo 3d*/
}
 
.card_front, .card_back {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 60%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.45);
    position: absolute;
  
    backface-visibility: hidden;/*esconde todas as faces invertidas*/
}
  
.card_front {
    transform: rotateY(180deg);
    background-color: #41A81E;
   
}

.card_back {
    background-color: #71F545;
    font-size: 30px;
    transition: all 0.5s;
    cursor: pointer;
}
.card_back:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.1);
    background-color: #dbf545;
}
  
.flip {
    transform: rotateY(180deg);
}
  
#gameOver {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size: 50px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
  
#restart {
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
  
#gameBoard {
    display: grid;
    grid-template: 1fr/ 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 15px;
}

@media screen and (max-width: 720px) {
    #gameBoard {
      grid-template: 1fr / 1fr 1fr 1fr 1fr;
      gap: 15px;
    }
    .card {
        width: 80px;
        height: 60px;
    }
    .card_front, .card_back{
        border-radius: 5px;
    }
    #gameOver{
        font-size: 2em;
        top: auto;
    }
  }
